<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/explore">Explore</a></li>
                <li><a href="/virtual-tours">Virtual Tours</a></li>
                <li><a href="/itinerary">Itinerary</a></li>
                <li><a href="/chatbot">Chatbot</a></li>
            </ul>
        </nav>
    </header>