<%- include('partials/header') %>

<h1><%= title %></h1>

<ul>
  <% if (suggestions.length === 0) { %>
    <li>No recommendations found. Try changing preferences.</li>
  <% } else { %>
    <% suggestions.forEach(place => { %>
      <li><%= place %></li>
    <% }) %>
  <% } %>
</ul>

<%- include('partials/footer') %>
